input[type=text], select, textarea{
    height:40px;
    width:95%;
    border:none;
    border:1px solid white;
    background-color:transparent;
    color:white;
}
input[type=date], select, textarea{
    height:40px;
    width:95%;
    border:none;
    border:1px solid white;
    background-color:transparent;
    color:white;
}
input[type=submit] {
    background-color: rgb(22, 23, 56);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}
#container {
    border-radius: 5px;
    padding-top: 1000px;
}

#btnsubmit1{
    background-color: rgb(32, 32, 34);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}

.table1{
    padding-top:2%;
    padding-left: 5%;
    padding-right: 15%;
    padding-bottom: 10%;
    
}