.login-container{
    margin-top: 12%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    background: #6D7993;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #6D7993;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #333;
    background-color: #fff;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #333;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

body {
    background-image:"";

}

/* Table in 'Manage User' pages */

.table1{
    padding-top:2%;
    padding-left: 15%;
    padding-right: 15%;
}