.login-container{
    margin-top: 12%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 10%;
    background: #8f9aa5;
    box-shadow: 0 2.5px 2.5px 0 rgba(0, 0, 0, 0.2), 0 2.5px 2.5px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 10%;
    background: #0062cc;
    box-shadow: 0 2.5px 2.5px 0 rgba(0, 0, 0, 0.2), 0 2.5px 2.5px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 400;
    color: #0062cc;;
    background-color: #fff;
}
.login-form-2 .btnSubmit{
    font-weight: 400;
    color: #0062cc;
    background-color: #fff;
}

body {
    background-color:rgb(80, 88, 95);
  }







