body{ 
    font: 14px sans-serif; 
    text-align: center; 
  }
  .header-container{
    display: flex;
    flex-direction: row;
    margin-left: 630px;
  }

  .header-btn-cantainer{
      padding-top: 35px;
      margin-left: 400px;
      display: flex;
      flex-direction: column;
  }

  .header-btn-cantainer a{
      margin-top: 10px;
  }